.logo {
    padding: 7rem 0 7rem;

    & img {
        margin: 0;
        width: 650px;
        margin: auto;
    }
}


.about-me {
    @include grid();

    padding: 5rem 2rem;

    background: $navy-blue;

    width: 100%;

    &_left {
        margin: auto;
        text-align: center;
    }

    &_right {
        margin: auto;
        padding-top: 2rem;
        text-align: center;

        & span {
            font-weight: bold;
        }
    }

    
}



.projects {

    @include grid();
    grid-template-columns: 1fr;
    padding: 5rem 0;
    vertical-align: middle;

    & .section-title {
        margin: auto;
    }

    &-content {
        margin: auto;
        text-align: center;
        padding: 0 2rem;
    }
}

.work-experience {

    padding: 2rem 1.2rem;
    background-color: $dark-blue;

    h2 {
       text-align: center;
    }

    .card {

        .card-body {
            font-size: 1rem;

            li {
                font-size: .9rem;
            }
        }
    }

}

.qualifications {
    height: fit-content;
    text-align: center;
    padding: 3rem 1.5rem 5rem;

    background: $blueviolet;

    .section-title {
        margin: 0 auto;
    }

    #accordion {
        margin: 1rem auto;
        width: 90%;
    }

}

.contact-me {
    display: grid;
    display: -ms-grid;
    display: -moz-grid;

    grid-template-columns: 1fr;

    padding: 2rem;

    & .card {
        width: 100%;
        order: 1;
    }
    
    & form {
        order: 2;
        margin-top: 1.3rem;
    }
    
}

@include view(phablet) {

    .logo {
        padding: 2rem 0 7rem;
    }

    .about-me {
        grid-template-columns: repeat(2, 1fr);

        &_left {
            margin: auto;
        }

        &_right {
            margin: auto;
        }
    }

    .projects {


        &-content {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        &-text {
            padding: 2rem;

        }
    }

    .work-experience {

        .section-title {
            margin: 0 auto;
            padding: 2rem 0;
        }

        .card {
            width: 75%;
        }
    }

    .qualifications {
        padding: 5rem 0;
        #accordion {
            width: 80%;
        }
    }

    .contact-me {
        gap: 2rem;

        & .card {
            grid-column: 2 / 3;
            width: 80%;
            order: 2;
        }

        & form {
            grid-column: 1 / 2;
            margin-top: 1.3rem;
            width: 80%;
            order: 1;
        }
    }
}

@include view(tablet) {

    .logo {
        padding: 2rem 0 7rem;
    }

    .projects {
        padding: 4rem 0;
        & .section-title {
            margin: auto;
        }

        &-content {
            columns: 2;
            margin: auto;
        }

        &-grid {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    .contact-me {
        display: flex;
        flex-direction: row;
    }
}