.navbar {
  background-color: $navy-blue;

  position: fixed;
  top: 0;
  left: 0;

  width: 100%;


  &-flex {
    @include flexColumn();
  }

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-brand {
    font-size: 1.4rem;
    text-transform: uppercase;

    color: $dark-violet;
    font-weight: bold;
  }

  &-toggle {

    & i {
        display: flex;
        width: 100%;
    
        font-size: 1.5rem;
        color: $light;
    
        &:hover {
          color: $dark-violet;
        }
      }
  }

  &-nav {
    display: none;
    flex-direction: column;
  }

  &-item {
    margin: 2rem 0;
    text-align: center;
  }

  &-link {
    display: block;
    padding: .8rem 4rem;
    color: $light;
    background-color: $dark-violet;
    text-align: center;
    width: 100%;
  }
}

@include view(phablet) {
  .navbar {

    &-header {
      display: block;
    }

    &-flex {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0 4rem;
    }

    &-toggle {
      display: none;

    }

    &-nav {
      height: auto;
    }
  }
}